
<!doctype html>
<%- model_class = Tool -%>
<html lang="en" id="test">

	<head>
		<meta charset="utf-8" />
	<noscript>
		<meta http-equiv="refresh" content="0; url=/tools/javascript.html">
		 <%= stylesheet_link_tag 'application' %>
		  <%= javascript_tag 'application' %>
	</noscript>
	
	<div class="row">

		<div class="span3">
			
			<p>
				Click on this button below
			</p>
			<%= link_to t('.new', :default => "Test Cases"), :controller=>'posts',:action=>'index' %>
		</div>

		<div class="span3">
			
			<p>
				Click on this button below
			</p>
			<%= link_to t('.new', :default => "Bugs"), :controller=>'defect',:action=>'list_defects' %>

		</div>

		<div class="span3">
			
			<p>
				Click on this button below
			</p>
			<%= link_to t('.new', :default => "Requirements"), :controller=>'requirement',:action=>'list_requirements' %>
		</div>
		<div class="span3">
			
			<p>
				Click on this button below
			</p>
			<%= link_to t('.new', :default => "Projects"), :controller=>'project',:action=>'list_all_projects' %>
		</div>
	</div>

</html>

