<%= form_for :requirement , :url=> { :action=> "update_requirement" }, :html => { :class => 'form-horizontal' }, :remote => true do |f| %> <!-- # Message Header -->

<div class="page-header">
	<h1> <%= link_to 'Edit Requirements', :controller => 'requirement', :action => 'list_requirements' %></h1>
</div>
<!-- # Progress bar -->
<div class="row">
	<div class="span6">

		<div class="control-group">

			<%= f.label :Associated_Project, :class => 'control-label' %>
			<div class="controls">
				<%= select("requirement", "project_id",@all_project.collect {|r| [ r.name, r.id ] },:selected=>@project.name)%>
			</div>
		</div>
		
		<div class="control-group">

			<%= f.label :Requirement_Name, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_field :req_name, :rows=>5,:class => 'text_field' %>
			</div>
		</div>
		
		<div class="control-group">

			<%= f.label :Requirement_Description, :class => 'control-label' %>
			<div class="controls">
				<%= f.text_area :req_description, :rows=>5,:class => 'text_area' %>
			</div>
		</div>

		<div class="control-group">

			<%= f.label :Product_Owner, :class => 'control-label' %>
			<div class="controls">
				<%= select_tag 'requirement[prod_owner]', options_for_select(@login.collect{ |u| [u.user] },:selected=> @requirement.prod_owner)%>
			</div>
		</div>

		<div class="control-group">

			<%= f.label :Developer_Assigned, :class => 'control-label' %>
			<div class="controls">
				<%= select_tag 'requirement[dev_assigned]', options_for_select(@login.collect{ |u| [u.user] },:selected=> @requirement.dev_assigned)  %>
			</div>
		</div>

		<div class="control-group">

			<%= f.label :Status, :class => 'control-label' %>
			<div class="controls">
				<%= select_tag 'requirement[status]', options_for_select(@status.collect{ |u| [u.name] },:selected=> @requirement.status) %>
			</div>
		</div>

		<%= hidden_field_tag('requirement[id]', value = @requirement.id) %>

		<div class="form-actions">
			<%= f.submit 'Update Requirements' %>
			<%= button_to "Cancel",{:action=>'list_requirements'},:class => 'btn btn-mini btn-danger' %>
		</div>
	</div>

	<div class="span1">
		<%= button_to "Done Editing",{:action=>'list_requirements'},:class => 'btn btn-mini btn-success' %>
	</div>
</div>

<% end %>

