<!doctype html>
<%- model_class = Requirement -%>
<html lang="en" id="test">
	<head>
		<meta charset="utf-8" />
		
		<script>
			function get_project_post(project_name) {
				$.ajax({
					type : "GET",
					data: { id: project_name},
					url : 'get_project_requirements',
					dataType : "script",
					success : function(data) {
						// $('#testcases').html(data);
					},
					error : function(e) {
						console.log(e.message);
					}
				});
			}
			
			$(function perform_auto_complete() {
			
			var availableTags = ["<%= @requirements_name_autocomplete%>"];
				$("#Search_value").autocomplete({
				source : availableTags
				});
				});
		</script>
	</head>
	<div class="ui-widget">
			<label>Auto Complete Search: </label>
			<input type="text" id = "Search_value">
    		<input id = "Search_button" type="submit" value="Go" />
		</div>
	<body>
		<%= form_tag do %>
		<%= select_tag  'project_name',options_for_select(@project.collect{ |u| [u.name] }),:onchange=>"get_project_post($(this).val())", :style=>"width: 500px;", :prompt => "All Projects" %>
		<% end %>

		<div id="project_requirements">
			<% if !@requirement.nil? %>
			<%= render :partial => 'list_requirements' %>
			<%end%>
		</div>
		<div id="search">
		<% if !@defect_count.nil? %>
			<%= render :partial => 'get_search_result' %>
			<% end -%>
		</div>
	