<%= form_for :defect do |f| %>

<!-- # Message Header -->
<script>
	function get_next_value(id, name) {

		$.ajax({
			data: { 'id' : id, 'name' : name},
			url : 'get_requirement_name?' + 'id=',
			type : "GET",
			dataType : "script",
			success : function(e) {

			}
		});

	}

</script>

<%= f.error_messages :header_message => "Invalid fields!",
  :message => "You'll need to fix the following fields:",
  :header_tag => :h3 %>

<!-- # Progress bar -->

<div class="control-group">

	<%= f.label :Associated_Project, :class => 'control-label' %>
	<div class="controls">
		<%= select("defect", "project_id", @project.collect {|r| [ r.name, r.id ] }, { :include_blank => true },:onchange=>"get_next_value($(this).val(),$(this).attr('name'))",:remote=>true)%>
	</div>
</div>
<div class="control-group">
	<div id="req_name">
		<div class="controls">

		</div>
	</div>
</div>

<div class="control-group">
	<div id="req_name">
		<div class="controls">
			<% if !@defect_count.nil? %>
			<%= render :partial => "get_requirement_name" %>
			<% end -%>
		</div>
	</div>
</div>

<div class="control-group">
	<div id="post_name">
		<div class="controls">
			<% if !@defect_count.nil? %>
			<%= render :partial => "get_requirement_name" %>
			<% end -%>
		</div>
	</div>
</div>

<div class="control-group">

	<%= f.label :Defect_Description, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_area :def_description, :rows=>5,:class => 'text_area' %>
	</div>
</div>

<div class="control-group">

	<%= f.label :Tester_Name, :class => 'control-label' %>
	<div class="controls">
		<%= select_tag 'defect[tester_name]', options_for_select(@login.collect{ |u| [u.user] }), {include_blank: 'None'}  %>
	</div>
</div>

<div class="control-group">

	<%= f.label :Developer_Name, :class => 'control-label' %>
	<div class="controls">
		<%= select_tag 'defect[dev_name]', options_for_select(@login.collect{ |u| [u.user] }), {include_blank: 'None'}  %>
	</div>
</div>

<div class="control-group">

	<%= f.label :Status, :class => 'control-label' %>
	<div class="controls">
		<%= select_tag 'defect[status]', options_for_select(@status.collect{ |u| [u.name] }), {include_blank: 'None'}  %>
	</div>
</div>

<div class="control-group">

	<%= f.label :Severity, :class => 'control-label' %>
	<div class="controls">
		<%= select_tag 'defect[severity]', options_for_select(@severity.collect{ |u| [u.severity] }), {include_blank: 'None'}  %>
	</div>
</div>

<div class="control-group">

	<%= f.label :category, :class => 'control-label' %>
	<div class="controls">
		<%= select_tag 'defect[category]', options_for_select(@defecttype.collect{ |u| [u.category] }), {include_blank: 'None'}  %>
	</div>
</div>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary',:id => 'testing'  %>

</div>

<% end %>
