<%- model_class = Defect -%>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<div class="page-header">
			<h1> <%= link_to 'Defects by project', :controller => 'defect', :action => 'list_defects' %></h1>
		</div>
		<table class="table table-striped">

			<thead>
				<tr>
					<th><%= model_class.human_attribute_name(:id) %></th>
					<th><%= model_class.human_attribute_name(:project_id) %></th>
					<th><%= model_class.human_attribute_name(:req_id) %></th>
					<th><%= model_class.human_attribute_name(:parent_tc_id) %></th>
					<th><%= model_class.human_attribute_name(:def_description) %></th>
					<th><%= model_class.human_attribute_name(:status) %></th>
					<th><%= model_class.human_attribute_name(:category) %></th>
					<th><%= model_class.human_attribute_name(:severity) %></th>
					<th><%= model_class.human_attribute_name(:tester_name) %></th>
					<th><%= model_class.human_attribute_name(:dev_name) %></th>

				</tr>
			</thead>
	</head>

	<% @defect.each do |defect|%>

	<tr>
		<td><%= defect.id %></td>
		<td><%= link_to defect.project_id,:action=> 'defect_analysis',:id=>defect.project_id, :remote=> true%></td>
		<td><%= defect.req_id %></td>
		<td><%= defect.parent_tc_id %></td>
		<td><%= defect.def_description %></td>
		<td><%= defect.status %></td>
		<td><%= defect.category %></td>
		<td><%= defect.severity %></td>
		<td><%= defect.tester_name %></td>
		<td><%= defect.dev_name %></td>

	</tr>

	<% end %>

	</table>
	<div id='show_project_defect_analysis_dashboard'>
		<% if !@defect_count.nil? %>
		<%= render :partial => "defect_analysis" %>
		<% end -%>
	</div>

	<div id='show_project_detailed_defect_analysis'>
		<% if !@defect_count.nil? %>
		<%= render :partial => "get_detailed_defect_info" %>
		<% end -%>
	</div>

