<%- model_class = Project -%>
<table class="table table-striped">
	<thead>
		<tr>
			<th><%= model_class.human_attribute_name(:id) %></th>
			<th><%= model_class.human_attribute_name(:name) %></th>
			<th><%= model_class.human_attribute_name(:description) %></th>
			<th><%= model_class.human_attribute_name(:created_at ) %></th>
			<th><%= model_class.human_attribute_name(:actions ) %></th>

		</tr>
	</thead>
	<tbody>
		<% @project.each do |project|%>
		<tr>
			<td><%= link_to "PRJ "+ "#{project.id}", :action=> 'project_dashboard',:id=>project.id, :remote=> true %></td>
			<td><%= project.name %></td>
			<td><%= project.description %></td>
			<td><%= project.created_at %></td>
			<td><%= button_to "Edit", { :controller => 'project',
		:action=>'list_all_projects'},
		:method => :put ,:class => 'btn btn-mini' %> </td>

		<td><%= button_to "Delete All",{ :controller => 'project',
		:action=>'list_all_projects'},
		:method => :delete,
		:class => 'btn btn-mini btn-danger' %> </td>

		<td><%= button_to "Show",{ :controller => 'project',
		:action=>'list_all_projects'},
		:method => :show,
		:class => 'btn btn-mini btn-success'%> </td>
		</tr>
	</tbody>
<% end %>

</table>
		<tr>
			<div id='show_project_dashboard'>
				<% if !@defect_count.nil? %>
				<%= render :partial => "project_dashboard" %>
				<% end -%>
			</div>
		</tr>
		<!-- <%= select_tag options_for_select(@project.collect{ |u| [u.id] }), :action => 'project_dashboard'%> -->

		