<%- model_class = Project -%>
<div id="master">
<table class="table table-striped">
	<thead>
		<tr>
			<th><%= model_class.human_attribute_name(:id) %></th>
			<th><%= model_class.human_attribute_name(:name) %></th>
			<th><%= model_class.human_attribute_name(:description) %></th>
			<th><%= model_class.human_attribute_name(:created_at ) %></th>
			<th><%= model_class.human_attribute_name(:actions ) %></th>

		</tr>
	</thead>
	<tbody>
		<% @project.each do |project|%>
		<tr>
			<td><%= link_to "PRJ "+ "#{project.id}", :action=> 'project_dashboard',:id=>project.id, :remote=> true %></td>
			<td><%= project.name %></td>
			<td><%= h truncate(project.description , :length => 15) %></td>
			<td><%= project.created_at %></td>
			<td><%= button_to "Edit", { :controller => 'project',
		:action=>'edit_project',:id=>project.id},
		:class => 'btn btn-mini',:remote=>true %> </td>

		<td><%= button_to "Delete All",{ :controller => 'project',
		:action=>'destroy',:id=>project.id},:confirm => 'Are you sure,This might delete all associated issues.',
		:class => 'btn btn-mini btn-danger' %> </td>

		<td><%= button_to "Show",{ :controller => 'project',
		:action=>'show',:id=>project.id},
		:class => 'btn btn-mini btn-success'%> </td>
		</tr>
	</tbody>
<% end %>

</table>
</div>
		
		<!-- <%= select_tag options_for_select(@project.collect{ |u| [u.id] }), :action => 'project_dashboard'%> -->
