<%- model_class = Project -%>
<html lang="en" id="test">
	<head>
		<meta charset="utf-8" />
		<script>
			function get_project_list(id) {
				$.ajax({
					url : 'get_one_project?id=' + id,
					type : "GET",
					dataType : "script",
					success : function(e) {
					
					}
				});
			}
		</script>
	</head>

	<body>
		<%= form_tag do %>
		<%= select_tag  'project_id',options_for_select(@project.collect{ |u| [u.name] }),:onchange=>"get_project_list($(this).val())", :style=>"width: 500px;", :prompt => "All Projects" %>
		<% end %>

		<div id="project_list">
			<%= render :partial =>  'project_list' %>
		</div>

		<div>
			<td><%= button_to "Add Projects",{ :controller => 'project',
		:action=>'create_new_project'},
		:method => :put,
		:class => 'btn btn-mini btn-success'%> </td>
		</div>

		<div id='show_project_dashboard'>
			<% if !@defect_count.nil? %>
			<%= render :partial => "project_dashboard"%>
			<%end%>
		</div>
		
		<div id='show_edit_project'>
				<% if !@defect_count.nil? %>
				<%= render :partial => "edit_project" %>
				<% end -%>
		</div>
		
		<div id='show_detailed_project_info'>
			<% if !@defect_count.nil? %>
			<%= render :partial => "get_detailed_project_info"%>
			<%end%>
		</div>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {
				packages : ["corechart"]
			});
		</script>
