
<!doctype html>
 
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>jQuery UI Tabs - Default functionality</title>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#tabs" ).tabs({
      event: "mouseover"
    });
  });
  </script>
</head>
<body>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Create Account</a></li>
    <li><a href="#tabs-2">User Login</a></li>
  </ul>
  <div id="tabs-1">
    <%= form_for :login, :url => { :action => "create" } do |f| %>

<div class="control-group">
	<%= f.label :user, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :user, :class => 'text_field' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password, :class => 'control-label' %>
	<div class="controls">
		<%= password_field(:login, :password, size: 3)%>
	</div>
</div>

<div class="control-group">
	<%= f.label :email, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :email, :rows=>5,:class => 'text_area' %>
	</div>
</div>

<%= f.submit%>

<% end %>
  </div>
  <div id="tabs-2">
  </div>
</div>



 
</body>
</html>





