
<%= form_for @post do |f| %>

<!-- # Message Header -->
<script>
	function get_next_value(id, name) {

		$.ajax({
			url : 'get_requirement_list?' + 'id=' + id,
			type : "POST",
			dataType : "script",
			success : function(e) {

			}
		});

	}

</script>

<%= f.error_messages :header_message => "Invalid fields!",
  :message => "You'll need to fix the following fields:",
  :header_tag => :h3 %>

<div class="control-group">
	<%= f.label :project_id, :class => 'control-label' %>
	<div class="controls">
		<%= select("post", "project_id", @project.collect {|r| [ r.name, r.id ] }, { :include_blank => true },:onchange=>"get_next_value($(this).val(),$(this).attr('name'))",:remote=>true)%>
	</div>
</div>

<div class="control-group">
	<div id="requirement_list">
		<div class="controls">
			
			<% if !@defect_count.nil? %>
			
			<%= render :partial => "get_requirement_list" %>
			<% end -%>
		</div>
	</div>
</div>

<div class="control-group">
	<%= f.label :title, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :title, :class => 'text_field' %>
	</div>
</div>
<div class="control-group">

	<%= f.label :content, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_area :content, :rows=>5,:class => 'text_area' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :agent, :class => 'control-label' %>
	<div class="controls">
		<%= select_tag 'post[agent]', options_for_select(@login.collect{ |u| [u.user] },@on_error_retain_agent), {include_blank: 'None'}  %>
	</div>
</div>
<div class="control-group">
	<%= f.label :status, :class => 'control-label' %>
	<div class="controls">
		<%= select_tag 'post[status]', options_for_select(@status.collect{ |u| [u.name] },@on_error_retain_status), {include_blank: 'None'}  %>
	</div>
</div>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary',:id => 'testing'%>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	posts_path, :class => 'btn'%>
</div>

<% end %>
